*{
    scroll-behavior: smooth;
}

:root {
      --cor-primaria: #ffb74d; /* Laranja suave */
      --cor-secundaria: #aed581; /* Verde menta */
      --cor-fundo: #2d2d2d; /* Fundo escuro neutro */
      --cor-texto: #ffffff;
      --cor-destaque: #ff7043; /* Coral vibrante */
    }

    body {
      margin: 0;
      font-family: "Josefin Sans", sans-serif;
      background-color: var(--cor-fundo);
      color: var(--cor-texto);
    }

.flex{
    display: flex;
}
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
  font-weight: 700;
}